body {
  font-family: monospace;
  margin: 1em;
  margin-bottom: 5em;
}

nav {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.0em;
}

img {
  width: 10em;
  display: block;
  margin-bottom: 1em;
}

input, textarea, select {
  display: block;
  margin-bottom: 1em;
  width: 40em;
  font-family: monospace;
  font-size: 1.0em;
}

textarea {
  height: 3em;
}

input[type='submit'] {
  width: 10em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-right: 2em;
}

.work {
  width: 40em;
  display: inline-block;
  vertical-align: top;
}
.work div {
  margin-bottom: 0.5em;

}
.short {
  width: 10em;
  display: inline;
}

label[data-required='true']::after {
  content: "*";
  color: red;
  font-weight: bold;
}

.work-heading {
  background: yellow;
  padding: 1em 0;
  display: inline-block;
}

.hidden {
  display: none;
}

/* visible only to screen readers */
.sr-only {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}